{%- comment -%}theme-check-disable RemoteAsset{%- endcomment -%}
<div class="product__book-a-stylist-wrapper">
  <button id="book-a-stylist-button" class="btn-none" type="button">
    <span>Book a Stylist</span>
  </button>
</div>

<style>
  .product__book-a-stylist-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: var(--font-weight-bold);
    line-height: 1;
    margin-bottom: 2.5rem;
  }
</style>

<script>
  const script = document.createElement("script");
  script.setAttribute("type", "text/javascript");
  script.setAttribute("src", "{{ settings.brauz_book_a_stylist_script_url }}");
  document.body.appendChild(script);
  script.onload = function(){
    window.Brauz.initializeBrauzBookAStylist("{{ settings.brauz_identifier }}");
    const book_a_stylist_button = document.getElementById("book-a-stylist-button");
    if(book_a_stylist_button){
      book_a_stylist_button.addEventListener("click", function(e){
        const brauz_data = window.Brauz_shopify_helper_iframe_data || {};
        const product = brauz_data.product || {};
        const variant_id = brauz_data.variant_id || "";

        // variant is not selected, trigger submit button to show an error message
        if(!variant_id){
          try {
            document.querySelector("form[action='/cart/add'] button[type='submit']").click();
          }catch(e){}
          return;
        }

        const found_variant = product.variants.find(variant => String(variant.id) === variant_id);

        let variant_title = "";
        let product_price = 0;
        let product_sku = variant_id || product.id;
        if(found_variant){
          variant_title = found_variant.title;
          product_sku = found_variant.sku;
          product_price = found_variant.price;
        }

        window.Brauz_config = {
          retailer_appointment: {
            product: {
              product_name: product.title || "",
              brand_name: "Swimwear Galore",
              product_price,
              qty: 1,
              selected_attributes: [{ type: "Variant", value: variant_title}],
              product_sku,
              image_url: product.image?.src,
              product_url: window.location.href,
            }
          }
        };

        // check if product is Fastskin
        if(product.title.toLowerCase().includes("fastskin")){
          window.Brauz_open_book_a_stylist_dialog({
            selected_child_form_id: "{{ settings.brauz_fastskin_form_id }}",
            selected_store_id: "{{ settings.brauz_malvern_shopify_location_id }}",
            selected_agent_id: "{{ settings.brauz_malvern_agent_id }}",
          })
        }else{
          window.Brauz_open_book_a_stylist_dialog({
            include_product_data: true,
          });
        }
      })
    }
  };
</script>
              
<div
  id="brauz-find-in-store-config-product-page"
  data-sd="{{ shop.permanent_domain }}"
  data-cvi="{{ product.first_available_variant.id }}"
  data-hodv="{{ product.has_only_default_variant }}"
  style="display: none; width: 0"
></div>
<div id="brauz-find-in-store-product-page"></div>
<script
  src="{{ settings.brauz_script_url }}"
  async
></script>
{%- comment -%}theme-check-enable RemoteAsset{%- endcomment -%}
