{% # theme-check-disable %}

{%- comment -%}
  ^^ theme-check disabled for now as snippet not currently used yet

    Parameters
    label: text inside button
    link: url link
    type: if link, chose anchor else button
    modifier: type of class e.g. secondary
    attr: pass in data attributes e.g. data-video="play"
    modifiers: (optional) space separated list of BEM modifiers without block name eg. "title-below no-image"
    button_has_icon: (bool) adds arrow icon to button
    button_id: text
{%- endcomment -%}

{% liquid
  assign classes = 'btn'

  if modifiers
    assign split_modifiers = modifiers | split: ' '

    for modifier in split_modifiers
      assign classes = classes | append: ' btn--' | append: modifier
    endfor
  endif
%}

{%- if type == 'link' -%}
  <a
    href="{{ link }}"
    class="{{ classes }}"
    {% if attr %}
      {{- attr -}}
    {% endif %}
  >
    <span>
      {{- label }}
      {%- if button_has_icon == true -%}
        {% render 'icon-arrow-right' %}
      {%- endif -%}
    </span>
  </a>
{% elsif type == 'span' %}
  <span
    class="{{ classes }}"
    {% if attr %}
      {{- attr -}}
    {% endif %}
  >
    {{ label }}
  </span>
{% else %}
  <button
    {% if button_id %}
      id="{{ button_id }}"
    {% endif %}
    class="{{ classes }}"
    {% if attr %}
      {{- attr -}}
    {% endif %}
  >
    {{ label }}
    {%- if button_has_icon == true -%}
      {% render 'icon-arrow-right' %}
    {%- endif -%}
  </button>
{%- endif -%}

{% # theme-check-enable %}
